<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:urn="urn:schemas-microsoft-com:asm.v1" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <xdt:Import assembly="ComponentHost" namespace="ComponentHost.Transforms"/>
  
  <appSettings xdt:Transform="InsertIfMissing">

    <add key="Providers.MockOrganisationsClientId"                                 value="" xdt:Locator="Condition(@key='Providers.MockOrganisationsClientId')" xdt:Transform="Replace"/>
    <add key="Providers.MockOrganisationsClientSecret"                             value="" xdt:Locator="Condition(@key='Providers.MockOrganisationsClientSecret')" xdt:Transform="Replace"/>

  </appSettings>

</configuration>

